{% extends 'base.html' %}
{% block title %}Registro de Solicitud{% endblock title %}

{% block content %}

<!-- Page header -->
<div class="full-box page-header">
    <h3 class="text-left">
        <i class="fas fa-plus-square fa-fw"></i> &nbsp; Registrar nueva solicitud servicio
    </h3>
    <p class="text-justify">
        A continuación, se presenta un formulario para registrar una nueva solicitud de servicio a realizar.
    </p>
</div>

<div class="container-fluid">
    <ul class="full-box list-unstyled page-nav-tabs">
        <li>
            <a class="active" href="{{ url_for('service.service_request_register') }}"><i class="fas fa-plus-square fa-fw"></i>
                &nbsp;
                NUEVA
                SOLICITUD</a>
        </li>
        <li>
            <a href="{{ url_for('service.service_request_list') }}"><i class="fas fa-stream fa-fw"></i> &nbsp; LISTA
                SOLICITUDES</a>
        </li>
    </ul>
</div>

<!-- Content -->
<div class="container-fluid">
    <form method="post" action="{{ url_for('service.service_request_register') }}" class="form-neon"
        enctype="multipart/form-data">
        {{ form.csrf_token }}
        <fieldset>
            <legend><i class="far fa-address-card"></i> &nbsp; Información de Solicitud de Servicio</legend>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            {{ form.id_client.label }}
                            <select class="form-control" name="{{ form.id_client.name }}">
                                <option value="">Seleccionar usuario...</option>
                                {% for id_client, name_client in form.id_client.choices %}
                                    <option value="{{ id_client }}">{{ name_client }}</option>
                                {% endfor %}
                            </select>
                            {% if form.id_client.errors %}
                                {% for error in form.id_client.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            {{ form.id_service.label }}
                            <select class="form-control" name="{{ form.id_service.name }}">
                                <option value="">Seleccionar servicio...</option>
                                {% for service, name_service in form.id_service.choices %}
                                    <option value="{{ service }}">{{ name_service }}</option>
                                {% endfor %}
                            </select>
                            {% if form.id_service.errors %}
                                {% for error in form.id_service.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="date" class="">Fecha de solicitud</label>
                            {{ form.date_request(class="form-control", required="required") }}
                            {% for error in form.date_request.errors %}
                            <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="AdminName" class="">Costo del servicio</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                {{ form.price_request(class="form-control", required="required", pattern="\d{1,35}") }}
                            </div>
                            {% for error in form.price_request.errors %}
                            <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <p class="text-center" style="margin-top: 40px;">
            <button type="reset" class="btn btn-info"><i class="fas fa-paint-roller"></i> &nbsp; LIMPIAR</button>
            &nbsp; &nbsp;
            <button type="submit" class="btn btn-success"><i class="far fa-save"></i> &nbsp; GUARDAR</button>
        </p>
    </form>
</div>
{% endblock %}