{% extends 'base.html' %}
{% block title %}Actualizar Cliente{% endblock title %}

{% block content %}

<!-- Page header -->
<div class="full-box page-header">
	<h3 class="text-left">
		<i class="fas fa-pen fa-fw"></i> &nbsp; Actualizar Cliente
	</h3>
	<p class="text-justify">
		A continuación, se presenta un formulario para editar la información a un cliente.
		Este usuario no tendrá acceso al sistema, su uso es meramente informativo.
	</p>
</div>

<!-- Content -->
<div class="container-fluid">
	<form method="post" action="{{ url_for('client.client_update', id_client=client.id_client) }}" class="form-neon" enctype="multipart/form-data">
		{{ form.csrf_token }}
		<fieldset>
			<legend><i class="far fa-address-card"></i> &nbsp; Información personal</legend>
			<div class="container-fluid">
				<div class="row">
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label for="AdminName" class="bmd-label-floating">Nombre(s)</label>
							{{ form.name_client(class="form-control", required="required", pattern="[a-zA-z ]{1,25}",
							title="Solo letras y espacios son permitidos") }}
							{% for error in form.name_client.errors %}
							<div class="text-danger">{{ error }}</div>
							{% endfor %}
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label for="AdminName" class="bmd-label-floating">Apellido(s)</label>
							{{ form.lastName_client(class="form-control", required="required", pattern="[a-zA-z ]{1,25}",
							title="Solo letras y espacios son permitidos") }}
							{% for error in form.lastName_client.errors %}
							<div class="text-danger">{{ error }}</div>
							{% endfor %}
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label for="AdminName" class="bmd-label-floating">Edad</label>
							{{ form.age_client(class="form-control", required="required", pattern="{1,3})") }}
							{% for error in form.age_client.errors %}
							<div class="text-danger">{{ error }}</div>
							{% endfor %}
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label for="AdminName" class="bmd-label-floating">Numero de teléfono</label>
							{{ form.numberPhone_client(class="form-control", required="required", pattern="{1,10})") }}
							{% for error in form.numberPhone_client.errors %}
							<div class="text-danger">{{ error }}</div>
							{% endfor %}
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label for="AdminName" class="bmd-label-floating">Correo Electrónico</label>
							{{ form.email_client(class="form-control", required="required") }}
							{% for error in form.email_client.errors %}
							<div class="text-danger">{{ error }}</div>
							{% endfor %}
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label for="AdminName" class="bmd-label-floating">Dirección</label>
							{{ form.direction_client(class="form-control", required="required") }}
							{% for error in form.direction_client.errors %}
							<div class="text-danger">{{ error }}</div>
							{% endfor %}
						</div>
					</div>
					<div class="col-12">
						<div style="padding: 20px 0 5px 0; color: #004f45;">Padecimiento crónico</div>
						<div class="form-group">
							{% for id_disease, name_disease in form.id_disease.choices %}
							<div class="radio">
								<label>
									<input type="radio" name="{{ form.id_disease.name }}" value="{{ id_disease }}" {% if
										form.id_disease.data==id_disease %}checked{% endif %}>
									<i
										class=""></i>
									&nbsp; {{ name_disease }}
								</label>
							</div>
							{% endfor %}
						</div>
					</div>
		</fieldset>
		<p class="text-center" style="margin-top: 40px;">
			<button type="reset" class="btn btn-info"><i class="fas fa-paint-roller"></i> &nbsp; LIMPIAR</button>
			&nbsp; &nbsp;
			<button type="submit" class="btn btn-success"><i class="far fa-save"></i> &nbsp; ACTUALIZAR</button>
		</p>
	</form>
</div>
<script src="{{ url_for('static', filename='js/eye_password.js') }}"></script>
{% endblock %}