{% extends 'base.html' %}
{% block title %}Registro Proveedor{% endblock title %}

{% block content %}

<!-- Page header -->
<div class="full-box page-header">
	<h3 class="text-left">
		<i class="fas fa-plus-square fa-fw"></i> &nbsp; Registrar nuevo Proveedor
	</h3>
	<p class="text-justify">
		A continuación, se presenta un formulario para registrar a un nuevo Proveedor.
		Este usuario no tendrá acceso al sistema, su uso es meramente informativo.
	</p>
</div>

<div class="container-fluid">
	<ul class="full-box list-unstyled page-nav-tabs">
		<li>
			<a class="active" href="{{ url_for('supplier.supplier_register') }}"><i
					class="fas fa-plus-square fa-fw"></i> &nbsp;
				NUEVO
				PROVEEDOR</a>
		</li>
		<li>
			<a href="{{ url_for('supplier.supplier_list') }}"><i class="fas fa-truck-moving fa-fw"></i> &nbsp; LISTA
				PROVEEDORES</a>
		</li>
	</ul>
</div>

<!-- Content -->
<div class="container-fluid">
	<form method="post" action="{{ url_for('supplier.supplier_register') }}" class="form-neon"
		enctype="multipart/form-data">
		{{ form.csrf_token }}
		<fieldset>
			<legend><i class="fas fa-dolly"></i> &nbsp; Información del proveedor</legend>
			<div class="container-fluid">
				<div class="row">
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label for="AdminName" class="bmd-label-floating">Nombre del Proveedor</label>
							{{ form.name_supplier(class="form-control", required="required", pattern="[a-zA-z ]{1,50}",
							title="Solo letras y espacios son permitidos") }}
							{% for error in form.name_supplier.errors %}
							<div class="text-danger">{{ error }}</div>
							{% endfor %}
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label for="AdminName" class="bmd-label-floating">RFC del proveedor</label>
							{{ form.rfc_supplier(class="form-control", required="required", pattern="{1,13})") }}
							{% for error in form.rfc_supplier.errors %}
							<div class="text-danger">{{ error }}</div>
							{% endfor %}
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label for="AdminName" class="bmd-label-floating">Contacto del Proveedor</label>
							{{ form.contact_supplier(class="form-control", required="required") }}
							{% for error in form.contact_supplier.errors %}
							<div class="text-danger">{{ error }}</div>
							{% endfor %}
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label for="AdminName" class="bmd-label-floating">Dirección del Proveedor</label>
							{{ form.direction_supplier(class="form-control", required="required") }}
							{% for error in form.direction_supplier.errors %}
							<div class="text-danger">{{ error }}</div>
							{% endfor %}
						</div>
					</div>
		</fieldset>
		<p class="text-center" style="margin-top: 40px;">
			<button type="reset" class="btn btn-info"><i class="fas fa-paint-roller"></i> &nbsp; LIMPIAR</button>
			&nbsp; &nbsp;
			<button type="submit" class="btn btn-success"><i class="far fa-save"></i> &nbsp; GUARDAR</button>
		</p>
	</form>
</div>
{% endblock %}