{% extends 'base.html' %}

{% block title %}Lista Marcas{% endblock title %}

{% block content %}

<!-- Page header -->
<div class="full-box page-header">
    <h3 class="text-left">
        <i class="fas fa-list-alt fa-fw"></i> &nbsp; Lista de Marcas
    </h3>
    <p class="text-justify">
        A continuación se muestran todas las marcas de la óptica "Prestigio Óptico".
    </p>
</div>

<div class="container-fluid">
    <ul class="full-box list-unstyled page-nav-tabs">
        <li>
            <a href="{{ url_for('brand.brand_register') }}"><i class="fas fa-plus-square fa-fw"></i> &nbsp; NUEVA
                MARCA</a>
        </li>
        <li>
            <a class="active" href="{{ url_for('brand.brand_list') }}"><i class="fas fa-list-alt fa-fw"></i> &nbsp;
                LISTA MARCAS</a>
        </li>
    </ul>
</div>

<!-- Content -->
<div class="container-fluid">
    <form method="get" action="{{ url_for('brand.brand_list') }}" class="form-inline justify-content-center">
        <input type="text" name="search" class="form-control" placeholder="Buscar" style="width: 300px;"
            value="{{ request.args.get('search', '') }}">
        <button type="submit" class="page-link" style="padding: 15px; display: flex; align-items: center;">
            <i class="fas fa-search"></i>
        </button>
    </form>

    <!-- Tarjetas -->
    <div class="row mt-4">
        {% for brand in brands %}
        <div class="col-md-4 col-lg-3">
            <div class="card mb-4 shadow-sm">
                {% if brand.image_brand %}
                <img src="{{ url_for('static', filename='img/brands/' + brand.image_brand) }}"
                    class="card-img-top img-fluid" alt="{{ brand.name_brand }}"
                    style="object-fit: cover; height: 200px;">
                {% else %}
                <img src="{{ url_for('static', filename='img/brands/image.png') }}" class="card-img-top img-fluid"
                    alt="Default Image" style="object-fit: cover; height: 200px;">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ brand.name_brand }}</h5>
                    <p class="text-muted">Proveedor: {{ brand.id_supplier }}</p>
                    <div class="btn-group" role="group">
                        <!-- Botón Editar -->
                        <a href="{{ url_for('brand.brand_update', id_brand=brand.id_brand) }}"
                            class="btn btn-primary btn-sm" style="border-radius: 5px;">
                            <i class="far fa-edit"></i> Editar
                        </a>
                        <!-- Botón Eliminar con modal -->
                        <button type="button" class="btn btn-danger btn-sm btn-delete-user" style="border-radius: 5px;">
                            <i class="fa fa-trash"></i> Eliminar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de Confirmación -->
        <div class="modal" id="deleteModal{{ brand.id_brand }}">
            <div class="modal-content">
                <h3>¿Estás seguro que quieres eliminar a este usuario?</h3>
                <p>Esta acción no se puede deshacer.</p>
                <form action="{{ url_for('brand.brand_delete', id_brand=brand.id_brand) }}" method="post">
                    <button type="submit" class="btn btn-confirm btn-confirm-delete">Sí, eliminar</button>
                    <button type="button" class="btn btn-cancel btn-cancel-delete">No, cancelar</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Paginación -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if page == 1 %}disabled{% endif %}">
                <a class="page-link"
                    href="{{ url_for('brand.brand_list', page=page-1, search=request.args.get('search', '')) }}"
                    aria-label="Anterior">
                    Anterior
                </a>
            </li>
            {% for p in range(start_page, end_page + 1) %}
            <li class="page-item {% if p == page %}active{% endif %}">
                <a class="page-link"
                    href="{{ url_for('brand.brand_list', page=p, search=request.args.get('search', '')) }}">{{ p }}</a>
            </li>
            {% endfor %}
            <li class="page-item {% if page == total_pages %}disabled{% endif %}">
                <a class="page-link"
                    href="{{ url_for('brand.brand_list', page=page+1, search=request.args.get('search', '')) }}"
                    aria-label="Siguiente">
                    Siguiente
                </a>
            </li>
        </ul>
    </nav>
</div>

{% endblock %}