{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<!-- Page header -->
<div class="full-box page-header">
	<h3 class="text-left">
		<i class="fab fa-dashcube fa-fw"></i> &nbsp; Panel principal
	</h3>
	<p class="text-justify">
		En este panel, podrás visualizar los módulos de acción disponibles, así como los registros totales. 
		Este espacio te permite gestionar y acceder a las funcionalidades clave de forma sencilla y eficiente.
	</p>
</div>

<!-- Content -->
<div class="full-box tile-container">
	
    <a href="{{ url_for('admin.admin_list') }}" class="tile">
        <div class="tile-tittle">Lista de administradores</div>
        <div class="tile-icon">
            <i class="fas fa-users fa-fw"></i>
            <p>{{ total_users }} Registrados</p>
        </div>
    </a>
		
	<a href="{{ url_for('admin.product_list') }}" class="tile">
		<div class="tile-tittle">Lista de productos</div>
		<div class="tile-icon">
			<i class="fas fa-boxes fa-fw"></i>
			<p>Registered</p>
		</div>
	</a>

	<a href="#" class="tile">
		<div class="tile-tittle">Lista de proveedores</div>
		<div class="tile-icon">
			<i class="fas fa-truck-moving fa-fw"></i>
			<p>Registered</p>
		</div>
	</a>

	<a href="{{ url_for('client.client_list') }}" class="tile">
		<div class="tile-tittle">Lista de Clientes</div>
		<div class="tile-icon">
			<i class="fas fa-child fa-fw"></i>
			<p>{{ total_clients }} Registrados</p>
		</div>
	</a>

	<a href="#" class="tile">
		<div class="tile-tittle">Lista de Ventas</div>
		<div class="tile-icon">
			<i class="fas fa-shopping-cart fa-fw"></i>
			<p>Registered</p>
		</div>
	</a>

	<a href="#" class="tile">
		<div class="tile-tittle">Lista de Servicios</div>
		<div class="tile-icon">
			<i class="fas fa-stream fa-fw"></i>
			<p>Registered</p>
		</div>
	</a>

	<a href="#" class="tile">
		<div class="tile-tittle">Lista de Inventario</div>
		<div class="tile-icon">
			<i class="fas fa-archive fa-fw"></i>
			<p>Registered</p>
		</div>
	</a>

	<a href="#" class="tile">
		<div class="tile-tittle">Ordenes de Compra</div>
		<div class="tile-icon">
			<i class="fas fa-book-open fa-fw"></i>
			<p>Registered</p>
		</div>
	</a>

</div>
{% endblock %}