{% extends 'base.html' %}
{% block title %}Actualizar Administrador{% endblock title %}

{% block content %}

<!-- Page header -->
<div class="full-box page-header">
	<h3 class="text-left">
		<i class="fas fa-user-plus fa-fw"></i> &nbsp; Registrar nuevo Administrador
	</h3>
	<p class="text-justify">
		A continuación, se presenta un formulario para editar a un usuario.
		Este usuario tendrá acceso al sistema con permisos para realizar acciones como
		crear, editar, eliminar y buscar en los diferentes módulos disponibles.
	</p>
</div>

<div class="container-fluid">
    <ul class="full-box list-unstyled page-nav-tabs">
        <li>
            <a href="{{ url_for('admin.admin_list') }}"><i class="fas fa-users fa-fw"></i> &nbsp; LISTA
                ADMINISTRADORES</a>
        </li>
    </ul>
</div>

<!-- Content -->
<div class="container-fluid">
	<form method="post" action="{{ url_for('admin.admin_update', id_user=user.id_user) }}" class="form-neon" enctype="multipart/form-data">
		{{ form.csrf_token }}
		<fieldset>
			<legend><i class="far fa-address-card"></i> &nbsp; Información personal</legend>
			<div class="container-fluid">
				<div class="row">
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label for="AdminName" class="bmd-label-floating">Nombre(s)</label>
								{{ form.name_user(class="form-control", required="required", pattern="[a-zA-z ]{1,25}", title="Solo letras y espacios son permitidos") }}
								{% for error in form.name_user.errors %}
									<div class="text-danger">{{ error }}</div>
								{% endfor %}
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label for="AdminName" class="bmd-label-floating">Apellido(s)</label>
								{{ form.lastName_user(class="form-control", required="required", pattern="[a-zA-z ]{1,25}", title="Solo letras y espacios son permitidos") }}
								{% for error in form.lastName_user.errors %}
									<div class="text-danger">{{ error }}</div>
								{% endfor %}
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label for="AdminName" class="bmd-label-floating">Numero de teléfono</label>
								{{ form.numberPhone_user(class="form-control", required="required", title="Solo letras y espacios son permitidos") }}
								{% for error in form.numberPhone_user.errors %}
									<div class="text-danger">{{ error }}</div>
								{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div style="padding: 20px 0 5px 0; color: #004f45;">Tipo de Usuario</div>
				<div class="form-group">
					{% for id_rol, name_rol in form.id_rol.choices %}
						<div class="radio">
							<label>
								<input type="radio" name="{{ form.id_rol.name }}" value="{{ id_rol }}" {% if form.id_rol.data == id_rol %}checked{% endif %}>
								<i class="fas fa-{{ 'user-tie' if name_rol == 'Administrador' else 'user' }} fa-fw"></i> &nbsp; {{ name_rol }}
							</label>
						</div>
					{% endfor %}
				</div>
			</div>			
			<fieldset>
				<legend><i class="far fa-image"></i> &nbsp; Imagen</legend>
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<label for="ProductImg" class="bmd-label-floating">Imagen de Usuario</label><br>
								{{ form.image_user() }}
								{% if form.image_user.errors %}
									{% for error in form.image_user.errors %}
										<p>{{ error }}</p>
									{% endfor %}
								{% endif %}
								<br>
								<small class="text-muted">Selecciona una imagen para tu peril (solo se admiten archivos tipo jpg, png)</small>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</fieldset>
		<p class="text-center" style="margin-top: 40px;">
			<button type="reset" class="btn btn-info"><i class="fas fa-paint-roller"></i> &nbsp; CLEAR</button>
			&nbsp; &nbsp;
			<button type="submit" class="btn btn-success"><i class="far fa-save"></i> &nbsp; ACTUALIZAR</button>
		</p>
	</form>
</div>
<script src="{{ url_for('static', filename='js/eye_password.js') }}"></script>
{% endblock %}