{% extends 'base.html' %}
{% block title %}Registro de Venta{% endblock title %}

{% block content %}

<!-- Page header -->
<div class="full-box page-header">
    <h3 class="text-left">
        <i class="fas fa-plus-square fa-fw"></i> &nbsp; Registrar nueva venta de productos
    </h3>
    <p class="text-justify">
        A continuación, se presenta un formulario para registrar una nueva venta de productos.
    </p>
</div>

<!-- Content -->
<div class="container-fluid">
    <form method="post" action="{{ url_for('return.return_update', id_return=return_.id_return) }}" class="form-neon"
        enctype="multipart/form-data">
        {{ form.csrf_token }}
        <fieldset>
            <legend><i class="far fa-address-card"></i> &nbsp; Información de Venta</legend>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            {{ form.id_sale.label }}
                            <select class="form-control" name="{{ form.id_sale.name }}">
                                <option value="">Seleccionar venta...</option>
                                {% for id_sale, name_client in form.id_sale.choices %}
                                <option value="{{ id_sale }}" {% if form.id_sale.data==id_sale %}selected{% endif %}>
                                    {{ name_client }}
                                </option>
                                {% endfor %}
                            </select>
                            {% if form.id_sale.errors %}
                            {% for error in form.id_sale.errors %}
                            <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            <label for="AdminName" class="bmd-label-floating">Descripción de la devolución</label>
                            {{ form.reason(class="form-control", required="required",
                            title="Solo letras y espacios son permitidos") }}
                            {% for error in form.reason.errors %}
                            <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                            {% if form.reason.errors %}
                            {% for error in form.reason.errors %}
                            <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="date" class="">Fecha de solicitud</label>
                            {{ form.date_return(class="form-control", required="required") }}
                            {% for error in form.date_return.errors %}
                            <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                            {% if form.date_return.errors %}
                            {% for error in form.date_return.errors %}
                            <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <p class="text-center" style="margin-top: 40px;">
            <button type="reset" class="btn btn-info"><i class="fas fa-paint-roller"></i> &nbsp; LIMPIAR</button>
            &nbsp; &nbsp;
            <button type="submit" class="btn btn-success"><i class="far fa-save"></i> &nbsp; ACTUALIZAR</button>
        </p>
    </form>
</div>
{% endblock %}